.content{
	width: 950px;
	margin: 0 auto;
	position: relative;
		
}

#contentnegro{
	width: 950px;
	margin: 0 auto;
}


.margenimg1{

	margin-right: 30%;
	margin: 10px;
	width: auto;

}

.margenimg2{
	margin-left: 30%;
	margin: 10px;
	width: auto;
}

.margenizquierda{
	margin-left: 30%;
	padding-left: 10px;
}

.padimagenizquierda{
	padding-right: 10px;
}

.margenderecha{
	margin-right: 30%;
	padding-right: 10px;
}

.padimagenderecha{
	padding-left: 10px;
}

.seccion0{
	position: relative;
	top: 20px;
}

.seccion1{
position: relative;
top: 370px;

}

.seccion2{
	position: relative;
	top: 1360px;
}

.seccion3{
	position: relative;
	top:2380px;

}

.seccion4{
	position: relative;
	top:2580px;

}

.seccion1b{
position: relative;
top: 300px;

}

.seccion3b{
	position: relative;
	top:2080px;
}

.seccion4b{
	position: relative;
	top:1890px;
}

.cajatextoseccion1{
	position: relative;
	top: 370px;
	width: 29%;
	float: left;
}

.cajatextoseccion2{
	position: relative;
	top: 1440px;
	width: 29%;
	float: right;
}

.cajatextoseccion3{
	position: relative;
	top: 2000px;
	width: 29%;
	float: none;
}

.cajatextoseccion4{
	position: relative;
	top: 2655px; 
	width: 29%;
	float: right;
}

.cajatextoseccion4b{
	position: relative;
	top: 2000px; 
	width: 29%;
	float: right;
}

.cajaseccioncentrada{
	position: absolute;
	margin: 0 auto;
}

.alturacajacentrada{
	position: relative;
	top:55px;
	width: 70%;
	z-index: 30;
	margin: 0 auto;
}

.cajatexto{
	float: right;
	top:500px;
	max-width: 30%;
}

.img1a{
	position: absolute;
	z-index: -2;
}

.img1b{
	position: absolute;
	z-index: -1;
}

.img1c{
	position: absolute;
	z-index: 0;
}

.img1d{
	position: absolute;
	z-index: 1;
}

.img1e{
	position: absolute;
	z-index: 2;
}

.img1f{
	position: absolute;
	z-index: 3;
}
.img1g{
	position: absolute;
	z-index: 4;
}

.img1h{
	position: absolute;
	z-index: 5;
}

.img1i{
	position: absolute;
	z-index: 6;
}

.img1j{
	position: absolute;
	z-index: 7;
}


.cajaroja{
margin: 0 auto;
padding-top: 5%;
padding-bottom: 5%;
top:50px;
}

.subh1{
	font-family: 'Ovo','Roboto', serif;
	font-size: 32px;
	font-color: rgb(0,0,0);
	letter-spacing: none;
}

.citas{
	font-family: 'Ovo','Roboto', serif;
	font-style: italic;
	font-size: 15px;
	line-height: 25px;
}

.citasblancas{
	font-family: 'Ovo','Roboto', serif;
	font-style: italic;
	font-size: 15px;
	line-height: 25px;
	color:rgb(255,255,255);
}

.pblancas{
	color:white;
}

.letrasblancas{
	color:#FFFFFF;
}

.posicionabajo{
	position: absolute;
	bottom: 0;
	float: bottom;
}
.abajo{
	padding: 20px;
	width: 50%;
	margin: 0 auto;
}

img{
	width: 100%;
	min-width: 300px;
	max-height: 600px;
	margin-top: 100px;
	margin-bottom: 100px; 
}

p{
	font-family:'Ovo','Roboto', serif;
	font-style: normal 400;
	font-size: 15.5px;
	line-height: 24px;
	letter-spacing: 0.5px;

}



h1{
	font-family:'Ovo', serif;
	font-style: normal;
	font-size: 60px;
	color: rgba(141,44,12,0.9);
	letter-spacing: 3px;
	line-height: 47px;
	text-align: center;
	position: relative;
}

h2{
	font-family: 'Ovo', serif;
	font-size: 20px;
	font-style: normal; 
	color: rgba(141,44,12,0.9);
	text-align: center;
	padding: 10px;
	letter-spacing: 2px;
}

h3{
	font-family: 'Ovo', sans-serif;
	font-style: bold;
	font-size: 18px;
}

h4{
	font-family: 'Ovo', sans-serif;
	font-style: bold;
	font-size: 15px;
}

body{
	background-image: url(../img/black_paper.png);
	background-repeat: repeat;
	background-position: fixed;
}

footer{
	color: rgba(141,44,12,0.9); ;
	position: absolute;
	bottom: 0;
	float: bottom;
	width: 100%;
	height: 30px:
}



#header{
	background-color: rgba(255, 255, 255, 0.1);
    height: 65px;
	margin-left: 0;
    position: fixed;
    width: 100%;
    z-index: 500;
}

#body1{
	background-image: url(../img/paper.png);
	background-repeat: repeat;
	background-position: fixed;
}	

#body2{
	background-image: url(../img/black_paper.png);
	background-repeat: repeat;
	background-position: fixed;
}	

/* Clearfix */

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
